* {
  box-sizing: border-box;
}

body {
  background-color: orangered;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

div {
  position: absolute;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 20px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 20px;
  background-color: darkorange;
  text-align: center;
  border: none;
}

input:focus {
  outline: none;
}
