* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80vw;
  max-height: 90vh;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  width: 16px;
  height: 16px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.btns {
  margin: 0;
  border-radius: 5px;
  position: fixed;
  top: 2vh;
}

#generate,
#count {
  color: #fff;
  background-color: #1d1d1d;
  text-align: center;
}
