* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0%;
}

.btn {
  background-color: aqua;
  border-radius: 25px;
  border: none;
  color: aliceblue;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
