* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  background-color: azure;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.key {
  border: 1px solid grey;
  background-color: antiquewhite;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  flex-direction: column;
  min-width: 150px;
  position: relative;
  margin: 10px;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  color: brown;
  font-size: 14px;
}
