* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 10px;
  color: #fff;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: royalblue;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  max-width: 100%;
}

.result-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 12px 10px;
  height: 50px;
  width: 100%;
}

.result-container #result {
  word-wrap: break-word;
  max-width: calc(100% - 40px);
  color: #fff;
}

.btn {
  border: none;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}

.btn-large {
  display: block;
  width: 100%;
}

.result-container .btn {
  position: absolute;
  top: -3px;
  right: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px 0;
}
