* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222;
  padding-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Nav */

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3 ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3 ease-in-out;
}
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3 ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-sizing: 0 2 10 rgba(0, 0, 0, 0.2);
  color: #000;
}

.nav.active.container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0932c;
  font-weight: bold;
}

.nav.active a {
  color: #000;
}
.hero {
  background-image: url("https://unsplash.com/photos/mASh6yME6k8/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjF8fGFzdXMlMjB0dWZ8ZW58MHx8fHwxNjM0OTAyMjc4&force=true&w=1920");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 10px, 0;
}

.content p {
  color: #555;
  line-height: 30px;
  letter-spacing: 1.2px;
}
